<ul class="users">
<h5><%= link_to "Компании", users_path %></h5>
  <% if @current_user.creator? %> 
    <% @users.where(creator: false).each do |user| %>
      <li>
      
        <%= link_to user.name, user %>
      </li>
    <% end %>
  <% else %>
    <% @users.where(creator: true).each do |user| %>
      <li>
      
        <%= link_to user.name, user %>
      </li>
    <% end %>
  <% end %>
</ul>