<% if signed_in? %>
<div class="row">
  <aside class="span4">
    <section>
      
      
        <h3><%= link_to @current_user.name, @current_user %></h3>
        
      <section>
        <%= render 'shared/stats' %>
      </section>
      
        <%= render 'shared/post_form' %>
        

      <div style="padding-top: 50px">
        <%= render 'lists/users_list' unless @current_user.creator? %>
      </div>
    
    </section>
  </aside>

  <div class="span7">
    <%= will_paginate @posts %>
      
        <%= render @posts %>
      
    <%= will_paginate @posts %>
  </div>
</div>
<% else %>
<div class="hero-unit">
  <h3>Добро пожаловать на сайт посвященный МРЦ</h3>
  <%= link_to "Регстрация", signup_path, class: "btn btn-default" %>
        <%= link_to "Вход", signin_path, class: "btn btn-default" %>
</div>
<% end %>