<h3>Войти</h3>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>
    

      <%= f.text_field :email, placeholder: "Email" %>

      <%= f.password_field :password, placeholder: "Пароль" %>

      <%= f.submit "Войти", class: "btn btn-default" %>
    <% end %>

  </div>
</div>