<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h1>Новые цены</h1>

    
    <p>приятного Вам дня</p>
    
  </body>
</html>