<h3>Регистрация</h3>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

      
      <%= f.text_field :name, placeholder: "Название" %>

      
      <%= f.text_field :email, placeholder: "Email" %>

      
      <%= f.password_field :password, placeholder: "Пароль" %>

      
      <%= f.password_field :password_confirmation, placeholder: "Повторите пароль" %>

      <%= f.submit "Создать аккаунт", class: "btn btn-default" %>
    <% end %>
  </div>
</div>