
<div class="row">
  <aside class="span4">
    <section>
      
      <h1><%= @user.name %></h1>
      
      
    </section>
    <section>
      <%= render 'shared/stats' %>
      <% if @users.any? %>
        <div class="user_avatars">
          <% @users.each do |user| %>
            
          <% end %>
        </div>
      <% end %>
    </section>
  </aside>
  <div class="span7">
    <% if @users.any? %>
      <ul class="users">
        <%= render 'lists/users_list' %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>
</div>