<div class="row">
    <aside class="span4">
    <section>
      <h3>
        
        <%= @user.name %>
        <%= render 'follow_form' if signed_in? %>
        <% if current_user?(@user) %>
        <%= render 'shared/post_form' %>
        
        <% end %>
      </h3>
    </section>
  </aside>
  <div class="span7">
    <% if @user.posts.any? %>
      <h4>Сообщений (<%= @user.posts.count %>)</h4>
      
        <%= render @posts %>
      
      <%= will_paginate @posts %>
    <% end %>
  </div>
</div>
