<% if @current_user.creator?%>
<div class="postform">
    <h6>Загрузка файла .xlsx, .xls или .ods</h6>
    
    <%= form_for @post, html: { multipart: true } do |f| %>
    
        <%= render 'shared/error_messages', object: f.object %>
    
        <div class="field">
    
            <div class="form-group">
            <%= f.file_field :attachment, id:"exampleInputFile" %>
            </div>
            <%= f.text_area :content, placeholder: "Коментарий не более 50 символов" %>
        </div>
  
        <%= f.submit "Отправить", class: "btn btn-default" %>
    
    <% end %>
</div>
<% end %>