<% @user ||= current_user %>
<div class="stats">
<% unless @user.creator? %>
  <a href="<%= following_user_path(@user) %>">
    Подписан на:
    <strong id="following" class="stat">
      <%= @user.followed_users.count %>
    </strong>
<% else %>    
  </a>
  <a href="<%= followers_user_path(@user) %>">
    Подписчики:
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
<% end %>  
  </a>
</div>