<ol class="microposts">
    <li id="<%= post.id %>">
  
        <span class="user">
            <h5><%= link_to post.user.name, post.user %></h5>
            
        </span>
        <span class="content"><%= post.content %>
  
        </span>
        <span class="timestamp">
            <%= link_to "Скачать", post.attachment_url %>
  
  
            <%= time_ago_in_words(post.created_at) %> ago.
            <% if current_user?(post.user) %>
                <%= link_to "удалить", post, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: post.content %>
  <% end %>
        </span>
  
    </li>
</ol>