<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
        <%= link_to "", root_path, class: "brand" %>
      <nav>
        <ul class="nav pull-right">
              
          <% unless signed_in? %>
              <li><%= link_to "Регистрация", signup_path %></li>
              <li><%= link_to "Войти", signin_path %></li>
          <% else %>
              <% if @current_user.creator?%><li><%= link_to "Создать запись", current_user %></li><% end %>
              <li><%= link_to "Компании", users_path %></li>
              <li><%= link_to "Выйти", signout_path, method: "delete" %></li>
          <%end%>
        </ul>
      </nav>
    </div>
  </div>
</div>