<!DOCTYPE html>
<html>
<head>
  <title>Мрц</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <%= render 'layouts/header' %>
    
    <div class="container" style="padding-top:60px;">
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>    
    	<%= yield %>
    </div>
      <%= debug(params) if Rails.env.development? %>
    
</body>
</html>
